{{ define "main" }}

<!-- Main -->
<div id="main">
	<div class="inner">
		{{ partial "header" site.Data.header }}
		<section>

        <div class="posts">
        {{ range .Pages.ByDate.Reverse }}
            {{- $image := resources.Get .Params.thumb -}}
            <article>
                    <a href="{{ .RelPermalink }}" class="image"><img src="{{ with $image }} {{ ($image.Fill "200x120 q100 Center").RelPermalink }} {{ end }}" alt="" /></a>
                <h3>{{ .Params.title }}</h3>
	        {{ with .Params.date }} <h4>{{ . | time.Format ":date_medium" }}</h4> {{ end }}
                <p>{{ .Params.summary }}</p>
                <ul class="actions">
                    <li><a href="{{ .RelPermalink }}" class="button">More</a></li>
                </ul>
            </article>
        {{ end }}
        </div>

		</section>
	</div>
</div>
{{ partial "sidebar" site.Data.sidebar }}

{{ end }}
