<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            {{ with .title }}<h1>{{ . }}</h1>{{ end }}
            {{ with .subtitle }}<p class="major">{{ . | safeHTML }}</p>{{ end }}
        </header>
        {{ with .content }}<p>{{ . | safeHTML }}</p>{{ end }}
        {{ if or .button .button_secondary }}<ul class="actions">
            {{ with .button }}<li><a href="{{ .link }}" class="button big primary">{{ .label }}</a></li>{{ end }}
            {{ with .button_secondary }}<li><a href="{{ .link }}" class="button big">{{ .label }}</a></li>{{ end }}
        </ul>{{ end }}
    </div>
    {{ with .image }}<span class="image object">
        <img src="{{.}}" alt="" />
    </span>{{end}}
</section>
