<!-- Section -->
<section>
    <div class="posts">
        {{ range .post }}
        {{- $image := resources.Get .thumb -}}
        <article>
            <a href="{{ .link }}" class="image"><img src="{{ with $image }} {{ ($image.Fill "200x120 q100 Center").RelPermalink }} {{ end }}" alt="" /></a>
            <h3>{{ .title }}</h3>
	        {{ with .date }} <h4>{{ . | time.Format ":date_medium" }}</h4> {{ end }}
            <p>{{ .summary }}</p>
            <ul class="actions">
                <li><a href="{{ .link }}" class="button">More</a></li>
            </ul>
        </article>
        {{ end }}
    </div>
</section>
