
{{ $jQuery := resources.Get "js/jquery.min.js" }}
{{ $skel := resources.Get "js/skel.min.js" }}
{{ $util := resources.Get "js/util.js" }}
{{ $html5shiv := resources.Get "js/ie/html5shiv.js" }}
{{ $respond := resources.Get "js/ie/respond.min.js" }}
{{ $main := resources.Get "js/main.js" }}

{{ $js := slice $jQuery $skel $util $main $html5shiv $respond | resources.Concat "js/bundle.js" | minify | resources.Fingerprint }}

<!-- Scripts -->
<script src='{{ $js.RelPermalink }}' integrity="{{ $js.Data.Integrity }}"></script>
