<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
        <!-- Menu -->
            <nav id="menu">
                <header class="major">
                    <a href="/">
                      <div class="row 50% uniform">
                        <div class="4u">
                          <span class="image fit">
                            <img src="/images/logos/bjc-png/BJC-black.png" alt="">
                          </span>
                        </div>
                        <div class="6u$">
                          <span class="image fit">
                            <img src="/images/logos/byv-png/BYV-black.png" alt="">
                          </span>
                        </div>
                      </div>
                      <br/>
                    </a>
                </header>
                <ul>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/listen">Listen to us</a></li>
                    <li>
                      <span class="opener">Join</span>
                      <ul>
                        <li><a href="/join">New joiners</a></li>
                        <li><a href="/friends">Friends of BJC and BYC</a></li>
                        <li><a href="/matchfund">Match funding</a></li>
                        </ul>
                    </li>
                    <li>
                      <span class="opener">Concerts</span>
                      <ul>
                        <li><a href="/concerts">Upcoming</a></li>
                        <li><a href="/posts">Past</a></li>
                      </ul>
                    </li>
                    <li><a href="/newsletter">Newsletter</a></li>
                    <li><a href="/alumni">Alumni</a></li>
                    <li>
                      <span class="opener">For members</span>
                      <ul>
                        <li><a href="/rehearsal">Rehearsals and Term Dates</a></li>
                        <li><a href="/clothes">Concert Uniforms</a></li>
                      </ul>
                    </li>
                    <li><a href="/childprotect">Child Protection Policy</a></li>
                </ul>
            </nav>


        <!-- Section -->
            <section>
                <header class="major">
                    <h2>Get in touch</h2>
                </header>
            <p>{{ .contact }}</p>
                <ul class="contact">
                <li class="icon solid fa-envelope">{{ .email }}</li>
                <li class="icon solid fa-phone">{{ .phone }}</li>
                <li class="icon solid fa-home">{{ .address }}</li>
                </ul>
            </section>

        <!-- Footer -->
            <footer id="footer">
                <p class="copyright">&copy; Beckenham Junior Choir. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
            </footer>

    </div>
</div>
